body{
    text-align: center;
    background-color: cadetblue;
}
.selector{
    height: 40px;
    width: 240px;
    background-color: DodgerBlue;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}
#selected{
    background-color: yellow;
   
}

.btn1{
    width: 50px;
    background-color: green;
    color: white;
}

.btn2{
   /* margin-left: 70px; */
    width: 50px;
    background-color: red;
    color: white;
}
#count{
   margin-left: 15px;
   margin-right: 15px;
}